/* start general box */
.box-space {
    justify-content: space-between;
}
/* end general box */
/* start grid-box */
.grid-box {
    display: grid;
    gap: 30px;
}
.box-300 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.box-250 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.box-h-center {
    justify-content: center;
}
.box-v-center {
    align-items: center;
}
/* end grid-box */
/* start flex-box */
.flex-box {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
/* end flex-box */
/* start general styling */
.bg-eee {
    background-color: #eee;
}
.bg-ccc {
    background-color: #ccc;
}
.mg-10 {
    margin: 10px;
}
.mg-20 {
    margin: 20px;
}
.pd-10 {
    padding: 10px;
}
.pd-20 {
    padding: 20px;
}
.text-gray {
    color: gray;
}
.text-white {
    color: white;
}
.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.unsharp {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* end general styling */