/* general styling */
html, body {
    font-family: 'Cairo', sans-serif;
    margin: 0px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

@media (max-width: 410px) {
    html, body {
        width: fit-content;
    }
}